/*Fijo*/
body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li {
    font-size: 16px;
}
.highlight {
    font-size: 18x;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
     animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff}
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ee070742;
    }
  }

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
/*Fijo*/

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #9e0101;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}


/*Fijo*/
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}
/*Fijo*/